<header class="grid">
    <h1>Patient Data Form</h1>
    <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>
    </nav>
</header>

<div class="container" *ngIf="!data" novalidate>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="grid">

        <mat-form-field class="title">
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" id="title">
                <mat-option value=""></mat-option>
                <mat-option value="prof">Prof.</mat-option>
                <mat-option value="dr">Dr.</mat-option>
                <mat-option value="profDr">Prof. Dr.</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="salutation">
            <mat-label>Salutation</mat-label>
            <input matInput formControlName="salutation" id="salutation" type="text">
            <mat-error *ngIf="checkError('salutation', 'maxlength')">Salutation should be less than 50
                characters</mat-error>

        </mat-form-field>

        <mat-form-field class="surname">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" id="surname" type="text">
            <mat-error *ngIf="checkError('surname', 'required')">Surname is required</mat-error>
            <mat-error *ngIf="checkError('surname', 'minlength')">Surname should be more than 5 characters</mat-error>
            <mat-error *ngIf="checkError('surname', 'maxlength')">Surname should be less than 50 characters</mat-error>
            <mat-error *ngIf="checkError('surname', 'pattern')">Surname should not contain a special chars</mat-error>
        </mat-form-field>

        <mat-form-field class="first-name">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" id="first_name" type="text">
            <mat-error *ngIf="checkError('first_name', 'required')">First Name is required</mat-error>
            <mat-error *ngIf="checkError('first_name', 'minlength')">First Name should be more than 5
                characters</mat-error>
            <mat-error *ngIf="checkError('first_name', 'maxlength')">First Name should be less than 40
                characters</mat-error>
            <mat-error *ngIf="checkError('first_name', 'pattern')">First Name should not contain a special
                chars</mat-error>
        </mat-form-field>

        <mat-form-field class="dob">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" id="dob">
            <mat-error *ngIf="checkError('dob', 'required')">Date of Birth is required</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="marital-status">
            <mat-label>Martial Status</mat-label>
            <mat-select formControlName="marital_status" id="marital_status">
                <mat-option value="unknown">Unknown</mat-option>
                <mat-option value="married">Married</mat-option>
                <mat-option value="single">Single</mat-option>
                <mat-option value="widowed">Widowed</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="email">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="" formControlName="email">
            <mat-error *ngIf="checkError('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="checkError('email', 'pattern')">Please enter a valid Email</mat-error>
        </mat-form-field>

        <mat-form-field class="notes">
            <mat-label>Notes</mat-label>
            <textarea matInput type="text" placeholder="" formControlName="notes"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="!formGroup.valid">Submit Form</button>
    
    </form>
</div>